# /dataset/*
/ref_literature/*
/.vscode
/.devcontainer
/saved_model
/selected_model
/saved_analysis
*.msh
*.png
*.pdf
*.log
*.pyc
coverage_test/
direct_psi_uq_analysis/
analysis/
precomputed_vfm/
raw_dataset/
*.out
*.npz
*.npy
*.pt
/extracted_model/
/distilled_model/
# Ignore preprocessed and precomputed data folders, but keep code
/dataset/preprocessed/
/dataset/experiment
/dataset/precomputed_vfm/
/dataset/synthetic/**/mesh/
/dataset/synthetic/**/dataset_viz_jax/
/extraction/extracted_models/
/distillation/distilled_models/
/distillation/distillation_models/
__pycache__/
.gradio/
extrapolation_transitions.npy
update_paths.py
move_files.sh
dataset_restructure.sh
.DS_Store
*.out
*.err